<div class="list-group">
  <% SearchesHelper::FILTER_ARRAY.each do |label, path| %>
    <%= link_to t(".#{label}"),
      search_path(media_type: path.delete_prefix('/'), query: params[:query]),
      class: "list-group-item list-group-item-action #{'active' if current_filter?(path, params)}",
      remote: true %>
  <% end %>
</div>
