// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.recent-movies-container {
  display: flex;
  overflow: auto;

  .recent-movies-content {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .poster-placeholder, img {
      width: 154px;
      height: 231px;
      background: #f8f9fa;
    }

    .poster-placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
