// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.search-input-group {
  .input-group-text {
    background: transparent;
  }

  .form-control {
    border-left: none;
  }
}

#search-filter {
  .list-group-item {
    &.active {
      color: #495057;
      background-color: #f8f9fa;
      font-weight: 600;
      border-color: rgba(0, 0, 0, 0.125);
    }

    &:not(:last-child) {
      border-bottom: none;
    }

    &:not(:first-child) {
      border-top: none;
    }
  }
}

.movie-or-tv-card {
  margin-bottom: 1rem;

  .movie-or-tv-image-placeholder {
    width: 92px;
    height: 136px;
    background: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .movie-or-tv-overview {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.3;
    margin-top: 1rem;
  }

  .card-title {
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.person-item {
  margin-bottom: 1rem;
  display: flex;

  .person-image-container {
    min-width: 70px;
    width: 70px;
    height: 70px;
    background: #f8f9fa;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;

    img {
      object-fit: cover;
      border-radius: inherit;
      width: 100%;
      height: 100%;
    }
  }

  .person-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    .person-known-for {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.movie-or-tv-modal-image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background: #f8f9fa;
  border-radius: .25rem;
}

.movie-or-tv-show-modal-rating {
  line-height: 1;

  h5 {
    display: inline-block;
    margin-bottom: 0;
  }

  small {
    font-size: .8rem;
  }
}
