<%= form_with method: :get, url: search_path, class: 'mb-3', local: controller_name == 'home' do |f| %>
  <div class="input-group search-input-group">
    <span class="input-group-text"><%= icon('fas', 'search') %></span>
    <%= f.text_field :query, class: 'form-control', placeholder: t('.placeholder'), value: params[:query] %>
  </div>
<% end %>
